@media (max-width: 991px) {
    .header-area {
        background: url(../img/banner-md.jpg) no-repeat !important;
        background-position: 80% !important;
        height: 800px !important;
        text-align: center;
    }
    
    .navbar {
        border-bottom: 1px solid #f84b67;
        background-color: #000;
    }

    .navbar .navbar-brand {
        padding-right: 0 !important;
    }

    .navbar .menu-nav, .navbar .nav-item {
        margin: 0 !important;
    }
    
    .navbar .nav-link {
        text-align: center;
        border-bottom: 1px solid #424242;
    }

    .banner-content {
        margin-top: 40% !important;
    }

    .sticky {
       padding-top: 15px !important;
       padding-bottom: 15px !important;
    }
}

@media (max-width: 767px) {
    footer {
        font-size: 11px !important;
    }
}

@media (max-width: 575px) {
    footer p {
        text-align: center !important;
    }

    footer .contact-footer {
        margin-top: 0 !important;
    }
}

@media (max-width: 415px) {
    .navbar .navbar-brand i {
        font-size: 16px !important;
    }

    .navbar .navbar-toggler img {
        height: 23px !important;
        width: 23px !important;
    }

    .content .banner-content {
        margin-top: 67% !important;
    }
    
    #contact .form-contact .form-row .form-group input,
    #contact .form-contact .form-row .form-group textarea 
    {
        width: 250px !important;
    }
}