@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.header-area {
    background: url(../img/home-banner.jpg) no-repeat;
    background-position: 50% 0%;
    height: 900px;
}

.navbar {
    transition: .3s;
}

.navbar .navbar-brand {
    margin-top: 20px;
    padding-right: 15px;
}

.navbar .navbar-brand i {
    transition: .3s;
    font-size: 20px;
}

.navbar .navbar-brand i:hover {
    color: #f84b67;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 14px !important;
    transition: .3s !important;
}

.navbar .nav-link:hover {
    color: #f84b67 !important;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid black !important;
    border: none !important;
}

.banner-content {
    margin-top: 60%;
}

.content h3 {
    font-size: 45px;
    font-weight: bold;
}

.content p {
    font-size: 14px;
    font-weight: lighter;
}

.banner-btn {
    background-color: #f84b67;
    border: 1px solid #f84b67;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: capitalize;
    transition: .3s;
}

.banner-btn:hover,
.sec-jobs .card .btn:hover
{
    transition: .3s;
    color: #fff;
    background-color: #c43d54;
    border: 1px solid #c43d54;
}

.sticky {
    padding: 8px 0px 28px 0px;
    transition: .6s;
    background-color: rgba(0,0,0,.8);
}

.sec-jobs .card {
    text-align: center;
    background-color: #efefef;
    border-radius: 10%;
    border: 1px solid #f84b683a;
}

.sec-jobs .card .btn {
    background-color: #f84b67;
    border-radius: 0%;
}

#contact {
    color: #fff;
    background: url(../img/banner-md.jpg);
}

#contact input:focus,
#contact textarea:focus
{
    box-shadow: 0px 0px 10px #f84b67;
    border: 1px solid rgba(0,0,0,.3);
}

footer {
    background-color: #1f2338;
    border-top: 1px solid #7979797c;
    color: #fff;
    font-size: 12px;
}

footer p {
    margin-top: 15px;
}

footer .contact-footer {
    text-align: end;
}